<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Adminstration_dashboard"
            android:exported="false" />
        <activity
            android:name=".TakeAttendance"
            android:exported="false" />
        <activity
            android:name=".studentList"
            android:exported="false" />
        <activity
            android:name=".AttendanceDashboard"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>